<!-- In manage_requests.html -->
<div class="modal fade" id="approveModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Approve Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Maintenance Code</label>
                    <select class="form-select" id="maintenanceCodeSelect">
                        <option value="">No maintenance</option>
                        {% for mt in maintenance_types %}
                        <option value="{{ mt.code }}">{{ mt.code }} - {{ mt.description }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="confirmApprove">Approve</button>
            </div>
        </div>
    </div>
</div>